body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f9fb;
  margin: 0;
  line-height: 1.4;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
  color: #222;
}

.section {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

button {
  padding: 8px 16px;
  background: #0366d6;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: 0.2s;
}

button:hover {
  background-color: #005fccc9;
}

a.button-like {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 6px;
  background: #10b981;
  color: #fff;
  text-decoration: none;
  margin-right: 6px
}

a.button-like:hover {
  background-color: #037a52c7;
}

/* Bulb Styling */
.bulb {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.on {
  background-color: yellow;
  box-shadow: 0 0 35px yellow;
}

.yellow {
  background-color: yellow;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.text-dark {
  color: black;
}